<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
        <script type="text/javascript" th:src="@{'/js/jquery-3.5.1.min.js'}"></script>
        <script type="text/javascript" th:src="@{'/js/bootstrap.js'}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{'/'}">WOWOW</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/'}" sec:authorize="isAnonymous()">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/profile'}" sec:authorize="isAuthenticated()"
                               th:text="${currentUser.fullName}">Link
                            </a>
                        </li>


                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link" th:href="@{'/login'}">Login</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/register'}" sec:authorize="isAnonymous()">Register</a>
                        </li>


                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{'/admin'}">Admin panel</a>
                        </li>

                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" href="JavaScript:void(0)" onclick="toLogout()">Logout</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <form th:action="@{'/tologout'}" id="logoutFormId" sec:authorize="isAuthenticated()" method="post">
                    </form>
                    <script type="text/javascript" sec:authorize="isAuthenticated()">
                        function toLogout() {
                            document.getElementById("logoutFormId").submit();
                        }
                    </script>
                </div>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-2">
                    <ul class="list-group">
                        <li class="list-group-item" th:href="${'/'}">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
                <div class="container" layout:fragment="mainContainer">
                </div>
            </div>
        </div>
    </body>
</html>