<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">
<div layout:fragment="mainContainer">
    <div class="row mt-5">
        <div class="col-6 mx-auto">

            <form th:action="@{'/saveclub'}" method="post" th:if="${club!=null}">
                <input type="hidden" name="id" th:value="${club.id}">
                <div class="form-group">
                    <label>NAME:</label>
                    <input type="text" class="form-control" name="name" required th:value="${club.name}">
                </div>

                <div class="form-group">
                    <label>CITY:</label>
                    <select class="form-control" name="city_id">
                        <option th:each="ct: ${cities}" th:text="${ct.name}" th:value="${ct.id}" th:selected="${ct.id==club.city.id}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label>UCL TITLES:</label>
                    <input type="number" class="form-control" name="ucl_titles" required th:value="${club.championsLeagueTitles}">
                </div>

                <div class="form-group">
                    <label>LEAGUE TITLES:</label>
                    <input type="number" class="form-control" name="league_titles" required th:value="${club.leagueTitles}">
                </div>

                <div class="form-group">
                    <button class="btn btn-success">SAVE CLUB</button>
                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteClubModal">DELETE CLUB</button>
                </div>
            </form>


            <div class="modal fade" id="deleteClubModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <form th:action="@{'/deleteclub'}" method="post" th:if="${club!=null}">
                        <input type="hidden" name="id" th:value="${club.id}">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Delete Club</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button  class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>